# VUE_APP_ROOT_URL="http://localhost:8080"
CERTIFICATE_FOLDER=/etc/letsencrypt/live/<YOUR-DOMAIN.com>/
POSTGRES_CONNECTION_STRING=postgres://postgres@localhost/virtual_poster
DEBUG_TOKEN=XXXXXXX
DEBUG_AS=U******
DEBUG_LOG=1
GOOGLE_APPLICATION_CREDENTIALS=./<YOUR-FIREBSE-SECRET>.json
VUE_APP_SKYWAY_API_KEY=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx